@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    color: red;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #14171d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content{
    width: fit-content;
    padding: 30px 40px;
    border: 2px solid silver;
}

.form-content div:not(.submit){
    margin: 25px 0px;
    border-bottom: 1px solid white;
}

input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 6px 4px;
    color: white;
    font-size: 16px;
}

.submit button{
    border: none;
    outline: none;
    background-color: #ff0040;
    color: black;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}
